@{
    ViewData["Title"] = "Warehouse Home";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <h1 class="display-4">Welcome to the Warehouse</h1>
    <br />
    <h3 class="display-7">Plese <a href="/Users/Login">log in</a> to access the inventory.</h3>
    <br />
</div>
